<div class="text-center">

    <div>
        <div>
            <button class="btn btn-outline-primary">
                @Html.ActionLink("Gerenciar Livros", "Index", "Livro")
            </button>

            <button class="btn btn-outline-primary">
                @Html.ActionLink("Gerenciar Autores", "Index", "Autor")
            </button>

        </div>
    </div>


</div>