@{
    ViewData["Title"] = "Editora";
}

<div class="text-center">
    <div class="mt-5">
        <h1 class="display-4">Editora</h1>
        <p>ASSESSMENT - Desenvolvimento de Aplicações Web ASP .NET MVC e Web API</p>
        <button class="btn btn-outline-primary">
            @Html.ActionLink("Login", "Login", "Funcionario")
        </button>

        <button class="btn btn-outline-primary">
            @Html.ActionLink("Registro de funcionário", "Registro", "Funcionario")
        </button>
    </div>
</div>