<div class="text-center">
    <div>

        <button class="btn btn-outline-primary" style="background-color: blue; color: white">
            @Html.ActionLink("Login", "Login", "Funcionario")
        </button>

        <button class="btn btn-outline-primary" style="background-color: red; color: white">
            @Html.ActionLink("Registro", "Registro", "Funcionario")
        </button>

    </div>

</div>